footer {
  width: 100%;
  background-color: rgb(31, 29, 29);
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin-top: 20px;
  position: r;
}

footer div {  
  width: 25%;
}


.participantes {
  display: flex;
  flex-direction: column;
}

.participantes li {
  transition: .3s;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.participantes div {
  display: flex;
  justify-content: flex-start;
  width: 70%;
}

.participantes a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: right;
}

.participantes a:hover {
  text-decoration: underline;
}

.participantes img{
  border-radius: 50%;
  width: 23px;
  display: flex;
}

hr.vertical {
  transform: rotate(90deg);
  height: auto;
}
  

.redes {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.redes ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 5px;
}

.redes ul img{
  width: 40px;
  background: rgba(255, 255, 255, 0.767);
  border-radius: 50%;
  padding: 1px;
}

.newsletter {
  display: flex;
  align-items: flex-start; 
  flex-direction: column;
}

.newsletter form {
  width: 100%;
}


footer input {
  background: #0000002d;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 5px;
  border-radius: 10px 0 0 10px;
  border-right: none;
}

footer button {
  
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0 10px 10px 0;
  padding: 5px 5px;
  font-weight: bold;
  transition: .3s;
  cursor: pointer;
}

footer button:hover {
  background: #fff;
  color:rgb(31, 29, 29);
}




